@mixin vertical-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin sticky {
    position: -webkit-sticky;
    position: sticky;
}

@mixin box-shadow {
    box-shadow: 3px 5px 3px 2px rgb(0 0 0 / 10%)
}

@mixin responsive-image {
    width: 100%;
    object-fit: fill;
    object-position: bottom;
}