// Colors
$body-background-color: #EFEFEF;
$beige: #FFF4E0;
$background-color: #FFBF9B;
$text-color: #B46060;
$black:#7A3E65;

// Sizes
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;

// Spacing
$max-width: 1200px;
$space-small: 5px;
$space-medium: 10px;
$space-default: 20px;
$space-large: 40px;

// Typography
$xxsmall: 10px;
$xsmall: 12px;
$small: 14px;
$default: 16px;
$large: 20px;
$xlarge: 28px;
$xxlarge: 34px;

// Device
$mobile: 740px;
$tablet: 980px;

// Components
// Main navbar
$main-navbar-height: 90px;

// Left sidebar
$left-sidebar-width: 15em;

// Main wrapper header
$main-header-height: 75px;