@import "styles/variables";
@import "styles/mixins";

.main-wrapper {
    display: flex;
    width: 100%;
}

.main-wrapper__container {
    flex-grow: 1;
    overflow: scroll;
}



.search-result {
    position: relative;
    top: $main-header-height;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: $space-default $space-medium;
}

// Mobile Style
@media screen and (max-width: $tablet) {

    .main-wrapper {
        .left-aside {
            display: none;
        }

        .main-wrapper__container {
            min-width: 100%;
        }
    }
}